body {
	background: url("../css/images/mountains.jpg");
	background-size: cover;
  background-repeat: no-repeat;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;

}

h1{
	  	font-family: 'Montserrat', sans-serif;
}

#blue, #green, #red, #yellow {
	width: 125px;
}

#leftcol {
	margin-top: -150px;
}

.panel-primary > .panel-heading {
  background-color: #a5bcdb;
  color: white;
}

.panel-primary {
	background-color: #527ab5;
	color: white;
}

#rowOne {
	margin-top: -25px;
}
